<div>Some wisdom to help you through your day:</div>

<div id="quotes">
<%# No longer displaying any by default b/c loading them with JS, but were you to, here's the generator to do so %>
<%=# for quote <- @quotes, do: render("_quote.html", quote: quote) %>
</div>

<script src="/js/quote/quote.js"></script>
